/* @media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  .btn-block {
    display: block;
    width: 25%;
} */

body{
  background-image: url("../images/namroud-gorguis-FZWivbri0Xk-unsplash.jpg");
  
}

.login{
  width: 800px;
}