.footer {
    background: #152F4F;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.links ul {
    list-style-type: none;
}

li a {
    color: white;
    transition: color .2s;
}

.about-company i {
    
        font-size: 25px;
}
.about-company a {
        color: white;
        transition: color .2s;
}

.location i {
        font-size: 18px;
    
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

